<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xibin.wms.dao.WmOutboundHeaderMapper" >
  <resultMap id="BaseResultMap" type="com.xibin.wms.pojo.WmOutboundHeader" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="buyer_code" property="buyerCode" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="audit_op" property="auditOp" jdbcType="INTEGER" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="outbound_type" property="outboundType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, buyer_code, order_time, audit_op, audit_time, outbound_type, remark, 
    creator, createTime, modifier, modifyTime, rec_ver, company_id, warehouse_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wm_outbound_header
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wm_outbound_header
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xibin.wms.pojo.WmOutboundHeader" >
    insert into wm_outbound_header (id, order_no, buyer_code, 
      order_time, audit_op, audit_time, 
      outbound_type, remark, creator, 
      createTime, modifier, modifyTime, 
      rec_ver, company_id, warehouse_id
      )
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{buyerCode,jdbcType=VARCHAR}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{auditOp,jdbcType=INTEGER}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{outboundType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=INTEGER}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{recVer,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xibin.wms.pojo.WmOutboundHeader" >
    insert into wm_outbound_header
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="buyerCode != null" >
        buyer_code,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="auditOp != null" >
        audit_op,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="outboundType != null" >
        outbound_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifyTime,
      </if>
      <if test="recVer != null" >
        rec_ver,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerCode != null" >
        #{buyerCode,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditOp != null" >
        #{auditOp,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outboundType != null" >
        #{outboundType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null" >
        #{recVer,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xibin.wms.pojo.WmOutboundHeader" >
    update wm_outbound_header
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerCode != null" >
        buyer_code = #{buyerCode,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditOp != null" >
        audit_op = #{auditOp,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outboundType != null" >
        outbound_type = #{outboundType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifytime != null" >
        modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="recVer != null" >
        rec_ver = #{recVer,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xibin.wms.pojo.WmOutboundHeader" >
    update wm_outbound_header
    set order_no = #{orderNo,jdbcType=VARCHAR},
      buyer_code = #{buyerCode,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      audit_op = #{auditOp,jdbcType=INTEGER},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      outbound_type = #{outboundType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      rec_ver = #{recVer,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>